extends layout

block content
    nav(class="navbar navbar-expand-lg" style="background-color: #7A1A00")
        a(href="#")
            img(src="images/bthLoggaNav.png" class="loggan" href="#")
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarText")
            ul(class="navbar-nav mr-auto flex-row-reverse")
                a(class="nav-link text-right" href="#") Home 
                a(class="nav-link text-right" href="#") Features
                a(class="nav-link text-right" href="#") Pricing
    div(class="container")
        div(class="row")
            div(class="col")
            div(id="gridbox" class="col-9")
                p(id="welcome") Varmt välkommen till Bildterapihusets hemsida!
                    div(class="row")
                        div(class="col-6")
                            p helwjhflwheflwjefkljwelkfjweklfjkl
                        div(class="col-6")
                            img(src="images/enmålare.png" style="width: 100%")
            div(class="col")